@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie ustawienia hasła";
}

<h1>@ViewData["Title"]</h1>
<p>
   W wiadomości e-mail został przesłany link umożliwiający ustawienie hasła. Sprawdź swoją skrzynkę, a następnie zaloguj się. 
</p>

