@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Ustaw nowe hasło";
}

<h1>@ViewData["Title"]</h1>
<p>
    W wiadomości e-mail został wysłany link pozwalający na ustawienie nowego hasła. 
</p>

