@model leave_management.Models.Step2WorkTimeScheduleVM

@{
    ViewData["Title"] = "Harmonogram";
}

<h1>Harmonogram</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Step2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
                <div class="dhx_cal_navline">
                    <div class="dhx_cal_prev_button">&nbsp;</div>
                    <div class="dhx_cal_next_button">&nbsp;</div>
                    <div class="dhx_cal_today_button"></div>
                    <div class="dhx_cal_date"></div>
                    <div class="dhx_cal_tab" name="day_tab"></div>
                    <div class="dhx_cal_tab" name="week_tab"></div>
                    <div class="dhx_cal_tab" name="month_tab"></div>
                </div>
                <div class="dhx_cal_header"></div>
                <div class="dhx_cal_data"></div>
            </div>


            <div class="form-group">
                <input type="submit" value="Zapisz harmonogram" class="btn btn-success btn-block" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-alt-circle-left"></i> Powrót do podsumowania</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/scheduler/dhtmlxscheduler.js"></script>
    <script src="~/lib/scheduler/locale/locale_pl.js" charset="utf-8"></script>

    <script>
        scheduler.createTimelineView({
            name:    "timeline",
            x_unit: "day",
            x_date: "%j",
            x_step: 1,
            x_size: 31,
            section_autoheight: false,
            y_unit:    scheduler.serverList("visibleRooms"),
            y_property:    "room",
            render:"bar",
            round_position:true,
            dy:60,
            second_scale:{
             x_unit: "month",
             x_date: "%F, %Y"
            }
        });

        scheduler.init('scheduler_here', new Date(2019, 0, 20), "week");
    </script>
}
