@model leave_management.Models.CreateBusinessTravelVM

@{
    ViewData["Title"] = "Edycja wyjazdu służbowego";
}

    <h1>Edycja wyjazdu służbowego</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="CountryId" />
            <input type="hidden" asp-for="TransportVehicleId" />
            <input type="hidden" asp-for="OrganizationToken" />
            <input type="hidden" asp-for="DateCreated" />
            <input type="hidden" asp-for="ApplicationId" />

            <div class="form-group">
                <label asp-for="DateFrom" class="control-label"></label>
                <input asp-for="DateFrom" value="@Model.DateFrom" type="text"  class="form-control datepicker" />
                <span asp-validation-for="DateFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTo" class="control-label"></label>
                <input asp-for="DateTo" value="@Model.DateTo" type="text" class="form-control datepicker" />
                <span asp-validation-for="DateTo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DestinationCity" class="control-label"></label>
                <input asp-for="DestinationCity" class="form-control" />
                <span asp-validation-for="DestinationCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PurposeOfTravel" class="control-label"></label>
                <input asp-for="PurposeOfTravel" class="form-control" />
                <span asp-validation-for="PurposeOfTravel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AdditionalInfo" class="control-label"></label>
                <input asp-for="AdditionalInfo" class="form-control" />
                <span asp-validation-for="AdditionalInfo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-block btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-alt-circle-left"></i> Powrót do podsumowania</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Zatwierdź",
                    "cancelLabel": "Anuluj",
                    "fromLabel": "Od",
                    "toLabel": "Do",
                    "customRangeLabel": "Custom",
                    "weekLabel": "Tydzień",
                    "daysOfWeek": [
                        "Nd",
                        "Pn",
                        "Wt",
                        "Śr",
                        "Cz",
                        "Pt",
                        "So"
                    ],
                    "monthNames": [
                        "Styczeń",
                        "Luty",
                        "Marzec",
                        "Kwiecień",
                        "Maj",
                        "Czerwiec",
                        "Lipiec",
                        "Sierpień",
                        "Wrzesień",
                        "Październik",
                        "Listopad",
                        "Grudzień"
                    ],
                    "firstDay": 1
                },
                "alwaysShowCalendars": true,
                "showDropdowns": true,
                "singleDatePicker": true
            });


        });
    </script>
}
