@model leave_management.Models.EditMedicalCheckUpVM

@{
    ViewData["Title"] = "Edytuj badanie lekarskie";
}

<h1>Edytuj badanie lekarskie</h1>

<hr />
<div class="row">
    <div class="offset-md-3 col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="EmployeeId" />
            <input type="hidden" asp-for="TypeOfMedicalCheckUpId" />
            <input type="hidden" asp-for="OrganizationToken" />

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="DateOfMedicalExamination" class="control-label"></label>
                        <input asp-for="DateOfMedicalExamination" value="@Model.DateOfMedicalExamination" type="text" class="form-control date-of-medical-examination" />
                        <span asp-validation-for="DateOfMedicalExamination" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ValidUntil" class="control-label"></label>
                        <input asp-for="ValidUntil" value="@Model.ValidUntil" type="text" class="form-control date-valid-until" />
                        <span asp-validation-for="ValidUntil" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" maxlength="300" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="IsDisplayedToEmployee" class="control-label"></label>
                        @Html.DropDownListFor(q => q.IsDisplayedToEmployee, new SelectList(Model.isDisplayedToEmployees, "Value", "Text"), new { @class = "form-control" })
                        <span asp-validation-for="IsDisplayedToEmployee" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="IsDisplayedToSupervisor" class="control-label"></label>
                        @Html.DropDownListFor(q => q.IsDisplayedToSupervisor, new SelectList(Model.isDisplayedToSupervisors, "Value", "Text"), new { @class = "form-control" })
                        <span asp-validation-for="IsDisplayedToSupervisor" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <input type="submit" value="Zapisz zmiany" class="btn btn-block btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index"><i class="fa fa-arrow-alt-circle-left"></i> Powrót do podsumowania</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.date-of-medical-examination').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Zatwierdź",
                    "cancelLabel": "Anuluj",
                    "fromLabel": "Od",
                    "toLabel": "Do",
                    "customRangeLabel": "Custom",
                    "weekLabel": "Tydzień",
                    "daysOfWeek": [
                        "Nd",
                        "Pn",
                        "Wt",
                        "Śr",
                        "Cz",
                        "Pt",
                        "So"
                    ],
                    "monthNames": [
                        "Styczeń",
                        "Luty",
                        "Marzec",
                        "Kwiecień",
                        "Maj",
                        "Czerwiec",
                        "Lipiec",
                        "Sierpień",
                        "Wrzesień",
                        "Październik",
                        "Listopad",
                        "Grudzień"
                    ],
                    "firstDay": 1
                },
                "alwaysShowCalendars": true,
                "showDropdowns": true,
                "singleDatePicker": true
            });

            $('.date-valid-until').daterangepicker({
                "locale": {
                    "format": "DD/MM/YYYY",
                    "separator": " - ",
                    "applyLabel": "Zatwierdź",
                    "cancelLabel": "Anuluj",
                    "fromLabel": "Od",
                    "toLabel": "Do",
                    "customRangeLabel": "Custom",
                    "weekLabel": "Tydzień",
                    "daysOfWeek": [
                        "Nd",
                        "Pn",
                        "Wt",
                        "Śr",
                        "Cz",
                        "Pt",
                        "So"
                    ],
                    "monthNames": [
                        "Styczeń",
                        "Luty",
                        "Marzec",
                        "Kwiecień",
                        "Maj",
                        "Czerwiec",
                        "Lipiec",
                        "Sierpień",
                        "Wrzesień",
                        "Październik",
                        "Listopad",
                        "Grudzień"
                    ],
                    "firstDay": 1
                },
                "alwaysShowCalendars": true,
                "showDropdowns": true,
                "singleDatePicker": true
            });

        });
    </script>
}
